<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tasks.Manager</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tasks.Manager.styles.css" asp-append-version="true" />
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand fw-bold text-white" href="/">Tasks Manager</a>

                <!-- Toggle button (mobile) -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#guestNavbar" aria-controls="guestNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar items -->
                <div class="collapse navbar-collapse" id="guestNavbar">
                    <ul class="navbar-nav ms-auto">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <span class="nav-link text-white fw-bold">
                                    Hello, @User.Identity.Name
                                </span>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Teams" asp-controller="Teams" asp-action="Index">Teams</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Projects" asp-controller="Projects" asp-action="Index">Projects</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Auth" asp-controller="Account" asp-action="Login">Users</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Employees"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="Auth" asp-controller="Account" asp-action="Login">Tasks</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
